APP_PORT=8000
ELASTICSEARCH_URL=http://127.0.0.1:9200/
ELASTICSEARCH_INDEX=documents
REDIS_URL=redis://redis:6379/0
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=university_kb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432